.explore-content {
    width: 70vw;
    padding: 0 5vw;
    margin: 50px auto;
}

.explore-header {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
    height: 5vh;

}

.experts-row {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.expert-card {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 20px;
    margin-bottom: 20px;
}

.expert-card-img > img{
    width: 300px;
}

.explore-filters {
    width: 66%;
    margin: auto;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.filter-container > div {
    width: 120px;
}

.filter-container > h3 {
    width: 250px;
}