.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    width: 40vw;
    align-items: center;

    height: 100%;
}

.nav-item-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.nav-item-link:hover {
    background-color: #17667893;
}