.pricing {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-header > h1 {
    font-size: 60px;
}

.offers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.offer-card {
    border: 1px solid black;
    min-height: 25vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-card p {
    font-size: 18px;
}

.offer-btn {
    width: 50%;
    margin: auto;
}