.welcome-content {
    width: 66vw;
    margin: 0 auto;
}

.welcome-intro {
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.welcome-about {
    margin-top: 50px;
}

.about-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-card > img, .about-card > div {
    width: 50%;
}

.about-card > div {
    padding: 0 20px;
}

.copyright-container {
    margin: 50px auto;
    text-align: center;
}