* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.content {
  display: flex;
}

.sidebar {
  width: 15vw;
  border-right: 1px solid black;
  min-height: 100vh;
}

.sidebar h3 {
  padding: 10px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-top: 1px black solid;
  padding: 10px;
}

.sidebar li {
  list-style: none;
  margin-bottom: 10px;
  border: 1px black solid;
}

.sidebar li:hover {
  background-color: lightgray;
}

.sidebar a {
  display: block;
  color: black;
  min-width: 100px;
  padding: 10px;
}

.content-card {
  width: 85vw;
  margin: auto;
  text-align: center;
  font-size: 60px;
}

.black-link {
  color: black;
}

.btn1 {
  background-color: steelblue;
}

.btn1 a {
  color: white;
}

.btn2 {
  background-color: rgba(211, 211, 211, 1);
}

.btn2 a {
  color: black;
}

.btn1:hover, .btn2:hover, .cursor-pointer {
  cursor: pointer;
}

